PROJECT_NAME="TMS Web API"
API_V1_STR="/api/v1"
SECRET_KEY="sua_chave_secreta"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL="mssql+pyodbc://usuario:senha@servidor/banco?driver=ODBC+Driver+17+for+SQL+Server"